/* top navbar */

body {
  margin: 0;
  padding: 0;
  background-image: url('https://41.media.tumblr.com/efd15be8d41b12a7b0ef17fba27c3e20/tumblr_mqqy59HMaf1qzattso1_1280.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
nav{
  width: 100%;
  background: #333;
  overflow: auto;
}

li {
  float: left;
  padding: 0;
  margin: 0 0 0 50px;
  list-style: none;
}
.logo img {
  position: absolute;
  margin-top: ppx;
  margin-left: 0px;
}
marquee {
  position: absolute;
}
nav a {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #f2f2f2;
  text-align: center;
}
nav a:hover {
    background:#a81c1c;
    transition: 0.5s;
}

/* dashboard table */
table {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  text-align: center;
 }
 body {
  height: 100%;
  width: 100%;
 }
 style {
  background-color: #000;
 }
 tr {
  background-color: white;
 }
 th {
  background-color: #a81c1c;
  color: white;
  font-size: small;
 }
 h2 {
  font-family: Arial, Helvetica, sans-serif;
 }
p {
  
  text-emphasis: none;
}


/* page contents */
h1 {
  
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  
  font-family: Arial, Helvetica, sans-serif;
}

h3{
  
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  
}
h4{
  font-family: Arial, Helvetica, sans-serif;             
} 

.container {
  background-color: rgb(192, 192, 192);
  width: 80%;
  border-radius: 15px;
  padding: 10px;
  padding-left: 100px;
}


/*progress bar*/
.progress {
  background-color: white;
  width: 80%;
  border-radius: 15px;

}

.skill {
  background-color: rgb(210, 6, 6);
  color: black;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}

.html {
  width: 0%;
}

